# Folders
.cloud
.vscode
custom_components
deps
esphome
node-red
notebooks
themes
tts
www

# Files
.HA_VERSION
.omv_cookies.json
aircast.xml
harmony_7158457.conf
home-assistant.log*
home-assistant_v2.db*
secrets.yaml
zigbee.db*

# Blueprints, themes, and scripts
python_scripts/shellies_discovery.py
python_scripts/shellies_discovery_gen2.py
themes/ios_theme/ios_theme.yaml
blueprints/automation/homeassistant/motion_light.yaml
blueprints/automation/homeassistant/notify_leaving_zone.yaml
blueprints/script/homeassistant/confirmable_notification.yaml
